fastapi
uvicorn
python-multipart
pillow
python-dotenv
aiofiles
google-genai
gradio_client
fashn
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
aiosqlite
fastapi-mail
google-auth
resend
google-api-python-client
google-auth-httplib2